body {
    background: #b7b6b6;
}

#disc {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 2em;
}

.sprite-wrapper {
    width: 40px;
    height: 53px;
    overflow: hidden;
    display: inline-block;
}

#sprite {
    position: relative;
    image-rendering: pixelated;
}